header {
    min-height: 8vh;
    width: 100%;
    background-color: var(--thirdly-color);
    box-shadow: 1px 1px 5px var(--thirdly-color);

    nav,
    nav .sections {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    nav {
        position: relative;
        padding: 0 2.5%;

        span {
            font-size: larger;
        }

        a {
            color: var(--text-color);
            text-decoration: none;

            &:hover {
                color: var(--primary-color);
            }
        }

        .sections {
            overflow-x: auto;

            a:hover {
                text-decoration: underline;
            }

            min-width: 40%;
            list-style: none;
        }

        #burger-menu-button {
            display: none;
            padding: 0 3%;
            aspect-ratio: 1/1;
            font-size: larger;
            background-color: var(--secondary-color);
        }

        .burger-menu {
            padding: 3%;
            position: absolute;
            top: 6vh;
            right: 10vw;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            background-color: var(--secondary-color);
        }

        .hidden {
            display: none;
        }
    }
}

@media(max-width: 480px) {
    header nav {
        padding: 0 10%;

        .sections {
            display: none;
        }

        #burger-menu-button {
            display: flex;
        }
    }
}