:root {
    --primary-color: #e8ffec;
    --secondary-color: #93a595;
    --thirdly-color: #a1b7ac;
    --quaternary-color: #ff7676;
    --text-color: #084c20;
}

[data-theme="default"] {
    --primary-color: #e8ffec;
    --secondary-color: #93a595;
    --thirdly-color: #a1b7ac;
    --quaternary-color: #ff7676;
    --text-color: #084c20;
}